html,
body {
    margin: 0;
    width: 100%;
    background-color: white;
}

.header {
    height: 80px;
    width: 100%;
    background-color: rgba(250, 249, 249, 0.001);
    position: absolute;
    top: 0;
}

.main {
    width: 100%;
}

.bgc img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.picture {
    width: 100%;
}

.picture ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
    padding: 2px;
    background-color: #fff;
    margin-left: -2px;
    margin-right: -2px;
}

.picture ul * {
    font-size: initial;
}

.picture ul li {
    float: left;
    width: 25%;
    height: 260px;
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/promo-01.jpg);
    background-size: cover;
    box-sizing: border-box;
    border: 2px solid white;
}

.picture ul li.i2 {
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/promo-03.jpg);
}

@media(max-width:1000px) {
    .picture ul li {
        width: 50%;
    }
}

@media(max-width:600px) {
    .picture ul li {
        width: 100%;
    }
}

.foot ul {
    display: block;
    list-style-type: none;
    margin: 0 auto 0;
    padding: 0;
    width: 100%;
    font-size: 0;
    text-align: center;
    max-width: 1080px;
}

.foot ul * {
    font-size: initial;
}

.foot ul li {
    display: inline-block;
    width: 33.33%;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
    white-space: nowrap;
}

.foot img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.foot p {
    display: inline-block;
    margin: 0;
    height: 100px;
    line-height: 100px;
}

@media(max-width:650px) {
    .foot ul li {
        float: left;
        width: 200px;
    }
}

.foot {
    display: block;
}

.footer {
    width: 100%;
    overflow: hidden;
}

.footer div {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding-left: 20px;
}

@media(max-width:670px) {
    .footer div:nth-child(1) {
        display: block;
        float: none;
        width: 300px;
    }
}

@media(max-width:500px) {
    .footer div:nth-child(2),
    .footer div:nth-child(3),
    .footer div:nth-child(4),
    .footer div:nth-child(5) {
        width: 200px;
    }
}